.quiz {
	position: relative;
}

.quiz__out {
	right: -275px;
	top: -144px;
	padding: 37px 85px 41px 130px;
	border-radius: 20px;
	background: rgba(217, 217, 217, 0.63);
	position: absolute;
	color: #2f2f2f;
	max-width: 350px;
	z-index: -1;
}

.quiz__instruc {
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	display: block;
	margin-bottom: 17px;
}

.quiz__subinstruc {
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
}

.quiz__content {
	border-radius: 20px;
	-webkit-box-shadow: -21px 21px 42px rgba(224, 224, 224, 0.2),
		21px -21px 42px rgba(224, 224, 224, 0.2),
		-21px -21px 42px rgba(255, 255, 255, 0.9),
		21px 21px 53px rgba(224, 224, 224, 0.9),
		inset 1px 1px 2px rgba(255, 255, 255, 0.3),
		inset -1px -1px 2px rgba(224, 224, 224, 0.5);
	box-shadow: -21px 21px 42px rgba(224, 224, 224, 0.2),
		21px -21px 42px rgba(224, 224, 224, 0.2),
		-21px -21px 42px rgba(255, 255, 255, 0.9),
		21px 21px 53px rgba(224, 224, 224, 0.9),
		inset 1px 1px 2px rgba(255, 255, 255, 0.3),
		inset -1px -1px 2px rgba(224, 224, 224, 0.5);
	position: relative;
}

.quiz__title {
	border-radius: 20px 20px 0 0;
	text-align: center;
	color: #f1f1f1;
	font-size: 40px;
	line-height: 46px;
	margin: 0;
	padding: 26px 94px 35px;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#1b344b),
		to(#23313f)
	);
	background: -o-linear-gradient(top, #1b344b 0%, #23313f 100%);
	background: linear-gradient(180deg, #1b344b 0%, #23313f 100%);
}

.quiz__inner {
	position: relative;
	background-color: #fff;
	border-radius: 0px 0px 20px 20px;
	overflow: hidden;
}

.quiz__wrapper {
	padding: 56px 140px 82px;
}

.quiz__quastion {
	margin: 0;
	font-weight: 500;
	font-size: 32px;
	line-height: 60px;
	margin-bottom: 36px;
}

.quiz__quastion-num {
	margin-right: 23px;
}

.quiz__info {
	border-top: 2px solid #f7f7f7;
	display: block;
	font-weight: 700;
	font-size: 32px;
	line-height: 46px;
	color: #1b344b;
	margin-bottom: 17px;
}

.quiz__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-bottom: 82px;
}

.quiz__body-grid {
	display: -ms-grid;
	display: grid;
	gap: 15px;
	-ms-grid-columns: (1fr) [4];
	grid-template-columns: repeat(4, 1fr);
}

.quiz__body-grid .quiz__option {
	margin-right: 0;
}

.quiz__template {
	position: absolute;
	opacity: 0;
	visibility: hidden;
}

.quiz__template-active {
	position: relative;
	opacity: 1;
	visibility: visible;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.quiz__option {
	margin-right: 74px;
}

.quiz__option:last-child {
	margin-right: 0;
}

.quiz__photo {
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	display: block;
	margin-bottom: 24px;
}

.quiz__text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-weight: 500;
	font-size: 24px;
	letter-spacing: -1px;
	text-transform: uppercase;
	color: #666666;
	cursor: pointer;
}

.quiz__answer {
	font-weight: 500;
	font-size: 24px;
}

.quiz__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.quiz__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.quiz__value {
	color: #f36c50;
	padding: 10px 16px;
	display: block;
	font-weight: 700;
	font-size: 40px;
	line-height: 46px;
	border-radius: 20px;
	border: 2px solid #f36c50;
	margin-right: 28px;
}

.quiz__desc {
	max-width: 167px;
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
	color: #2f2f2f;
}

.quiz__btn-prev {
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background: #ffffff;
	-webkit-box-shadow: -21px 21px 42px rgba(224, 224, 224, 0.2),
		21px -21px 42px rgba(224, 224, 224, 0.2),
		-21px -21px 42px rgba(255, 255, 255, 0.9),
		21px 21px 53px rgba(224, 224, 224, 0.9),
		inset 1px 1px 2px rgba(255, 255, 255, 0.3),
		inset -1px -1px 2px rgba(224, 224, 224, 0.5);
	box-shadow: -21px 21px 42px rgba(224, 224, 224, 0.2),
		21px -21px 42px rgba(224, 224, 224, 0.2),
		-21px -21px 42px rgba(255, 255, 255, 0.9),
		21px 21px 53px rgba(224, 224, 224, 0.9),
		inset 1px 1px 2px rgba(255, 255, 255, 0.3),
		inset -1px -1px 2px rgba(224, 224, 224, 0.5);
	border-radius: 50%;
	margin-right: 10px;
	border: none;
	border: 1px solid #e6e6e6;
}

.quiz__field {
	width: 0;
	position: absolute;
	visibility: hidden;
	opacity: 0;
	overflow: hidden;
}

.quiz__field:checked + .quiz__check::before {
	opacity: 1;
}

.quiz__check {
	padding-left: 30px;
	position: relative;
}

.quiz__check::before {
	-webkit-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	transition: opacity 0.3s;
	content: "";
	opacity: 0;
	width: 5px;
	position: absolute;
	left: 8px;
	top: 48%;
	-webkit-transform: translateY(-50%) rotate(45deg);
	-ms-transform: translateY(-50%) rotate(45deg);
	transform: translateY(-50%) rotate(45deg);
	border-right: 2px solid #f36c50;
	border-bottom: 2px solid #f36c50;
	height: 10px;
}

.quiz__check::after {
	content: "";
	height: 20px;
	width: 20px;
	border: 1px solid #a7a9ac;
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.quiz__btn-next {
	cursor: pointer;
	position: relative;
	padding: 12px 15px;
	border-radius: 10px;
	border: none;
	color: #ffffff;
	font-weight: 500;
	font-size: 14px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#ee775e),
		to(#ff5d3a)
	);
	background: -o-linear-gradient(top, #ee775e 0%, #ff5d3a 100%);
	background: linear-gradient(180deg, #ee775e 0%, #ff5d3a 100%);
}

.quiz__btn-next::after {
	content: "или нажмите Enter";
	position: absolute;
	right: -10px;
	bottom: 0px;
	font-family: inherit;
	font-weight: 300;
	font-size: 10px;
	line-height: 10px;
	color: #bebebe;
	-webkit-transform: translateY(15px);
	-ms-transform: translateY(15px);
	transform: translateY(15px);
}

.quiz__btn-text {
	margin-right: 4px;
}

.quiz__result-inner {
	max-width: 480px;
}

.quiz__result-title {
	margin: 0;
	font-weight: 700;
	font-size: 40px;
	line-height: 46px;
	letter-spacing: -1px;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.quiz__result-subtitle {
	margin: 0;
	font-weight: 500;
	font-size: 20px;
	line-height: 25px;
	color: #666666;
	margin-bottom: 60px;
}

.quiz__telephone {
	width: 350px;
	font-weight: 500;
	font-size: 20px;
	line-height: 90%;
	color: #666666;
	border: none;
	-webkit-box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.3),
		inset -1px -1px 2px rgba(212, 212, 212, 0.5);
	box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.3),
		inset -1px -1px 2px rgba(212, 212, 212, 0.5);
	-webkit-filter: drop-shadow(-5px 5px 10px rgba(212, 212, 212, 0.2))
		drop-shadow(5px -5px 10px rgba(212, 212, 212, 0.2))
		drop-shadow(-5px -5px 10px rgba(255, 255, 255, 0.9))
		drop-shadow(5px 5px 13px rgba(212, 212, 212, 0.9));
	filter: drop-shadow(-5px 5px 10px rgba(212, 212, 212, 0.2))
		drop-shadow(5px -5px 10px rgba(212, 212, 212, 0.2))
		drop-shadow(-5px -5px 10px rgba(255, 255, 255, 0.9))
		drop-shadow(5px 5px 13px rgba(212, 212, 212, 0.9));
	border-radius: 15px;
	margin-bottom: 50px;
	padding: 26px 42px;
}

.quiz__telephone:focus {
	outline: none;
}

.quiz__body-col {
	min-height: 350px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.quiz__body-col .quiz__option {
	margin-right: 0;
	margin-bottom: 10px;
}

.quiz__body-col .quiz__option:last-child {
	margin-bottom: 0;
}

.quiz__submit {
	border: none;
	width: 400px;
	cursor: pointer;
	font-family: Montserrat;
	padding: 26px 0;
	text-align: center;
	font-weight: 700;
	font-size: 24px;
	line-height: 90%;
	letter-spacing: 0.05em;
	border-radius: 11px;
	color: #ffffff;
	background: -o-linear-gradient(266.36deg, #f97b61 10.83%, #ee5e3f 91.05%);
	background: linear-gradient(183.64deg, #f97b61 10.83%, #ee5e3f 91.05%);
	margin-bottom: 40px;
}

.quiz__note {
	font-weight: 500;
	font-size: 20px;
	line-height: 25px;
	color: #666666;
}

.quiz__result {
	padding: 82px 94px;
	opacity: 0;
	visibility: hidden;
	position: absolute;
}

.no-webp .quiz__result::after {
	background: no-repeat url("../img/quiz/magazine.png");
}

.quiz__result::after {
	content: "";
	position: absolute;
	width: 1005px;
	height: 694px;
	right: -25px;
	top: -30px;
}

.quiz__result-active {
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	opacity: 1;
	visibility: visible;
	position: relative;
}

.quiz__result-inner {
	position: relative;
	z-index: 100;
}
.webp .quiz__result::after {
	background: no-repeat url(../img/quiz/magazine.webp);
}
