.solutions {
	position: relative;
	z-index: 3;
	padding: 242px 0 90px;
	&__container {
		max-width: 1280px;
	}
	&__title-inner {
		padding: 37px 0;
		color: #fff;
		background: #1b344b;
	}
	&__item {
		position: relative;
		border-radius: 20px;
		padding: 76px 52px 54px;
		background: #ffffff;
		box-shadow: -21px 21px 42px rgba(224, 224, 224, 0.2),
			21px -21px 42px rgba(224, 224, 224, 0.2),
			-21px -21px 42px rgba(255, 255, 255, 0.9),
			21px 21px 53px rgba(224, 224, 224, 0.9),
			inset 1px 1px 2px rgba(255, 255, 255, 0.3),
			inset -1px -1px 2px rgba(224, 224, 224, 0.5);
		margin-bottom: 66px;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			width: 12px;
			height: 12px;
			border-left: 3px solid #fff;
			border-top: 3px solid #fff;
			right: 0;
			top: 50%;
			transform: translate(50%, -50%) rotate(-45deg);
			z-index: 10;
		}
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			width: 66px;
			height: 66px;
			border-radius: 50%;
			background: #565e66;
			right: 0;
			transform: translate(50%, -50%);
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__item:nth-child(even) {
		&::before {
			left: 0;
			transform: translate(-50%, -50%) rotate(135deg);
		}
		&::after {
			left: 0;
			transform: translate(-50%, -50%);
		}
	}
	&__item:last-child {
		&::before {
			left: 50%;
			top: 100%;
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&::after {
			left: 50%;
			top: 100%;
			transform: translate(-50%, -50%);
		}
		.solutions__name {
			text-align: center;
			margin-bottom: 40px;
			max-width: none;
		}
	}
	// &__item:nth-child(even) {
	// 	.solutions__name {
	// 		margin-left: 0;
	// 		margin-right: auto;
	// 	}
	// }
	&__name {
		margin: 0 auto;
		max-width: 320px;
		color: #2e363e;
		font-weight: 700;
		font-size: 24px;
		line-height: 143%;
	}
	&__block {
		margin-right: 20px;
		&:last-child {
			margin-right: 0;
		}
	}
	&__block-small {
		width: 280px;
	}
	&__block-middle {
		width: 380px;
	}
	&__block-big {
		width: 580px;
	}
	&__photo {
		width: 100%;
		object-fit: cover;
	}
	&__inner {
		display: flex;
		align-items: center;
	}
	@media (max-width: 1200px) {
		padding: 150px 0 90px;
		&__title-inner {
			padding: 20px 0;
		}
	}
	@media (max-width: 992px) {
		&__title-inner {
			font-size: 38px;
		}
		&__name {
			font-size: 21px;
		}
		&__item {
			&::after {
				content: "";
				width: 50px;
				height: 50px;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	@media (max-width: 768px) {
		padding: 90px 0;
	}
	@media (max-width: 480px) {
		&__item {
			padding: 40px;
		}
		&__item:nth-child(even) {
			.solutions__name {
				margin-right: 10px;
			}
		}
		&__name {
			font-size: 12px;
		}
		&__block {
			margin-right: 10px;
		}
		&__item {
			&::after {
				width: 35px;
				height: 35px;
			}
			&::before {
				width: 9px;
				height: 9px;
			}
		}
		&__item:last-child {
			.solutions__name {
				margin-bottom: 20px;
			}
		}
	}
	@media (max-width: 425px) {
		padding: 60px 0;
		&__name {
			font-size: 10px;
		}
		&__item {
			padding: 20px;
			margin-bottom: 40px;
		}
	}
}
