.wrapper {
	position: relative;
	background: right top no-repeat url("../img/wrapper/background.png");
	&__content {
		padding: 120px 0 156px;
		position: relative;
		z-index: 10;
	}
	&__img {
		top: 100px;
		right: 16px;
		position: absolute;
	}
	&__gears {
		position: absolute;
		right: -35px;
		bottom: -292px;
	}
	@media (max-width: 1200px) {
		&__img {
			right: -45px;
		}
	}
	@media (max-width: 992px) {
		&__img {
			display: none;
		}
	}
	@media (max-width: 768px) {
		&__content {
			padding: 90px 0 156px;
		}
	}
	@media (max-width: 480px) {
		&__content {
			padding: 60px 0 90px;
		}
	}
}
