<section class="awards">
	<div class="container">
		<div class="awards__diploms">
			<div class="awards__diplome">
				<img src="img/awards/award1.png" data-fancybox alt="diplome" class="awards__inner" />
			</div>
			<div class="awards__diplome">
				<img src="img/awards/award2.png" data-fancybox alt="diplome" class="awards__inner" />
			</div>
			<div class="awards__diplome">
				<img src="img/awards/award3.png" data-fancybox alt="diplome" class="awards__inner" />
			</div>
			<div class="awards__diplome">
				<img src="img/awards/award4.png" data-fancybox alt="diplome" class="awards__inner" />
			</div>
		</div>
	</div>
	<div class="container-small awards__content">
		<div class="awards__desc">
			По результатам ежегодного экспертного анализа, проводимого Центром
			аналитических исследований (г. Москва) в рамках программы «Лучшее
			предприятие отрасли 2021», компания ООО «ОБЬЛИФТ» включена в Рейтинг
			надёжных партнёров. Оценка проводилась в рамках ОКВЭД: 33.12 - «Ремонт
			машин и оборудования» по Сибирскому федеральному округу.
		</div>
		<a href="https://www.analit-centr.ru/ooo-ob-lift-g-novosibirsk-stalo-luchshim-predpriyatiem-otrasli-2021-i-voshlo-v-rejting-nadezhnyh-partnerov-sibirskogo-federal-nogo-okruga"
			target="_blank" class="awards__btn">Перейти</a>
	</div>
	<div class="container-small">
		<div class="awards__grid">
			<div class="awards__item">
				<img src="img/awards/photo_1.png" data-fancybox alt="photo_1" class="awards__photo" />
			</div>
			<div class="awards__item">
				<img src="img/awards/photo_2.png" data-fancybox alt="photo_2" class="awards__photo" />
			</div>
		</div>
	</div>
</section>