<section class="director">
	<div class="director__background">
		<img src="img/director/photo.png" alt="director" />
	</div>
	<div class="container-small director__row">
		<div class="director__content">
			<div class="director__rank">ГЕНЕРАЛЬНЫЙ ДИРЕКТОР</div>
			<h4 class="director__name">Шаталов Юрий Владимирович</h4>
			<p class="director__text">
				Лифтовая компания ООО “ОбьЛифт” имеет современную
				материально-техническую базу, штат квалифицированных специалистов,
				ремонтные бригады и мобильную аварийную службу, что позволяет ей
				осуществлять качественное и оперативное обслуживание лифтов в г.
				Новосибирске.<br /><br />Освобождение пассажиров из остановившейся
				кабины лифта осуществляется не позднее 30 минут с момента поступления
				заявки в аварийную службу. На сентябрь 2022г. на техническом
				обслуживании у нас находится более 800 лифтов. <br /><br />Нам доверяют!
				Будем рады видеть и Вас среди наших клиентов!
			</p>
			<button data-modal="1" class="director__btn js-open-modal">Оставить заявку</button>
		</div>
	</div>
</section>