<footer class="footer">
	<div class="container-small">
		<div class="footer__inner">
			<img src="img/footer/logo.png" alt="logo" class="footer__logo" />
			<div class="footer__row">
				<a href="#" class="footer__link">Согласие на обработку данных</a>
				<a href="#" class="footer__link">Служба поддержки</a>
				<a href="#" class="footer__link">Политика конфиденциальности</a>
			</div>
			<p class="footer__info">
				© oblift.ru, 2012-2022 | ООО “ОбьЛифт” ИНН 5404465603 КПП 540701001
				630005, Россия, Новосибирск, ул. Татарская 83 помещ. 5
			</p>
		</div>
	</div>
</footer>