<header class="header">
	<div class="container-small">
		<div class="header__row">
			<a href="index.html" class="header__logo">
				<img src="img/header/logo.png" alt="logo" class="header__logo-photo" />
			</a>
			<div class="header__items">
				<div class="header__item">
					<img src="img/header/location.svg" alt="telephone" class="header__icon" />
					<span class="header__name">г. Новосибирск</span>
					<span class="header__subname">Татарская ул, д. 83, помещ. 5</span>
				</div>
				<div class="header__item">
					<img src="img/header/telephone.svg" alt="telephone" class="header__icon" />
					<a class="header__name" href="tel:8 (913) 917-59-47">8 (913) 917-59-47</a>
					<span class="header__subname">Ежедневно с 9:00 до 20:00</span>
				</div>
			</div>
		</div>
	</div>
</header>