<div class="modal" data-modal="1">
	<div class="modal__inner">
		<div class="modal__close js-modal-close"></div>
		<h5 class="modal__title">УЗНАТЬ ПОДРОБНЕЕ</h5>
		<form class="modal__form">
			<input type="tel" name="telephone" class="modal__field tel" placeholder="телефон*" />
			<label class="modal__agree">
				<input type="checkbox" class="modal__check" checked />
				<span class="modal__text">Нажимая на кнопку "Отправить" я даю свое согласие на обработку
					персональных данных</span>
			</label>
			<a href='thank.html' type="submit" class="modal__btn">Отправить</a>
		</form>
	</div>
</div>
<div class="overlay js-overlay-modal"></div>