<div class="quiz">
	<div class="container-small quiz__content">
		<div class="quiz__out">
			<span class="quiz__instruc">Ответьте на 5 простых вопросов</span>
			<span class="quiz__subinstruc">и получите дополнительную скидку</span>
		</div>
		<h4 class="quiz__title">
			Узнайте индивидуальные условия сотрудничества, ответив на 5 вопросов
		</h4>
		<div class="quiz__inner">
			<div class="quiz__wrapper">
				<div class="quiz__template quiz__template-active">
					<h6 class="quiz__quastion">
						<span class="quiz__quastion-num">1/5</span><span class="quiz__quastion-text">Какое количество
							лифтов?</span>
					</h6>
					<div class="quiz__body">
						<label class="quiz__option">
							<img src="img/quiz/photo_1.png" alt="photo" class="quiz__photo" />
							<div class="quiz__answer">
								<label class="quiz__text">
									<input type="radio" name="answer" value='1-5' class="quiz__field" />
									<span class='quiz__check'>1-5</span></label>
							</div>
						</label>
						<label class="quiz__option">
							<img src="img/quiz/photo_1.png" alt="photo" class="quiz__photo" />
							<div class="quiz__answer">
								<label class="quiz__text"><input type="radio" value='5-10' name="answer" class="quiz__field" />
									<span class='quiz__check'>5-10</span></label>
							</div>
						</label>
						<label class="quiz__option">
							<img src="img/quiz/photo_1.png" alt="photo" class="quiz__photo" />
							<div class="quiz__answer">
								<label class="quiz__text"><input type="radio" value='>10' name="answer"
										class="quiz__field" /><span class='quiz__check'>>10</span></label>
							</div>
						</label>
					</div>
				</div>
				<div class="quiz__template">
					<h6 class="quiz__quastion">
						<span class="quiz__quastion-num">2/5</span><span class="quiz__quastion-text">Количество этажей</span>
					</h6>
					<div class="quiz__body quiz__body-grid">
						<label class="quiz__option">
							<img src="img/quiz/photo_2-1.png" alt="photo" class="quiz__photo" />
							<div class="quiz__answer">
								<label class="quiz__text">
									<input type="radio" name="answer2" value='8' class="quiz__field" />
									<span class='quiz__check'>8</span></label>
							</div>
						</label>
						<label class="quiz__option">
							<img src="img/quiz/photo_2-2.png" alt="photo" class="quiz__photo" />
							<div class="quiz__answer">
								<label class="quiz__text"><input type="radio" value='9' name="answer2" class="quiz__field" />
									<span class='quiz__check'>9</span></label>
							</div>
						</label>
						<label class="quiz__option">
							<img src="img/quiz/photo_2-3.png" alt="photo" class="quiz__photo" />
							<div class="quiz__answer">
								<label class="quiz__text"><input type="radio" name="answer2" value='12'
										class="quiz__field" /><span class='quiz__check'>12</span></label>
							</div>
						</label>
						<label class="quiz__option">
							<img src="img/quiz/photo_2-4.png" alt="photo" class="quiz__photo" />
							<div class="quiz__answer">
								<label class="quiz__text"><input type="radio" name="answer2" value='16'
										class="quiz__field" /><span class='quiz__check'></span>16</label>
							</div>
						</label>
					</div>
				</div>
				<div class="quiz__template">
					<h6 class="quiz__quastion">
						<span class="quiz__quastion-num">3/5</span><span class="quiz__quastion-text">Какая грузоподъемность
							лифтов?</span>
					</h6>
					<div class="quiz__body quiz__body-grid">
						<label class="quiz__option">
							<img src="img/quiz/photo_3-1.png" alt="photo" class="quiz__photo" />
							<div class="quiz__answer">
								<label class="quiz__text">
									<input type="radio" name="answer3" value='320кг' class="quiz__field" />
									<span class='quiz__check'>320 кг.</span></label>
							</div>
						</label>
						<label class="quiz__option">
							<img src="img/quiz/photo_3-2.png" alt="photo" class="quiz__photo" />
							<div class="quiz__answer">
								<label class="quiz__text"><input type="radio" value='400кг' name="answer3"
										class="quiz__field" /><span class='quiz__check'>400
										кг.</span></label>
							</div>
						</label>
						<label class="quiz__option">
							<img src="img/quiz/photo_3-3.png" alt="photo" class="quiz__photo" />
							<div class="quiz__answer">
								<label class="quiz__text"><input type="radio" value='630кг' name="answer3"
										class="quiz__field" /><span class='quiz__check'>630
										кг.</span></label>
							</div>
						</label>

						<label class="quiz__option">
							<img src="img/quiz/photo_3-4.png" alt="photo" class="quiz__photo" />
							<div class="quiz__answer">
								<label class="quiz__text"><input type="radio" value='1000кг' name="answer3"
										class="quiz__field" /><span class='quiz__check'>1000
										кг.</span></label>
							</div>
						</label>
					</div>
				</div>
				<div class="quiz__template">
					<h6 class="quiz__quastion">
						<span class="quiz__quastion-num">4/5</span><span class="quiz__quastion-text">Выберете
							модель</span>
					</h6>
					<div class="quiz__body quiz__body-col">
						<label class="quiz__option">
							<div class="quiz__answer">
								<label class="quiz__text">
									<input type="radio" name="answer4" value='Карачаровский механический завод'
										class="quiz__field" />
									<span class='quiz__check'>Карачаровский механический завод</span></label>
							</div>
						</label>
						<label class="quiz__option">
							<div class="quiz__answer">
								<label class="quiz__text"><input type="radio" value='Щербинский лифтостроительный завод'
										name="answer4" class="quiz__field" />
									<span class='quiz__check'>Щербинский лифтостроительный завод</span></label>
							</div>
						</label>
						<label class="quiz__option">
							<div class="quiz__answer">
								<label class="quiz__text"><input type="radio" value='>Могилевский лифтостроительный завод'
										name="answer4" class="quiz__field" />
									<span class='quiz__check'>Могилевский лифтостроительный завод</span></label>
							</div>
						</label>
						<label class="quiz__option">
							<div class="quiz__answer">
								<label class="quiz__text"><input type="radio" value='СИБЛИФТ' name="answer4"
										class="quiz__field" />
									<span class='quiz__check'>СИБЛИФТ</span></label>
							</div>
						</label>
						<label class="quiz__option">
							<div class="quiz__answer">
								<label class="quiz__text"><input type="radio" value='KONE' name="answer4" class="quiz__field" />
									<span class='quiz__check'>KONE</span></label>
							</div>
						</label>
						<label class="quiz__option">
							<div class="quiz__answer">
								<label class="quiz__text"><input type="radio" value='OTIS' name="answer4" class="quiz__field" />
									<span class='quiz__check'>OTIS</span></label>
							</div>
						</label>
						<label class="quiz__option">
							<div class="quiz__answer">
								<label class="quiz__text"><input type="radio" value='другая модель' name="answer4"
										class="quiz__field" />
									<span class='quiz__check'>другая модель</span></label>
							</div>
						</label>
					</div>
				</div>
				<div class="quiz__template">
					<h6 class="quiz__quastion">
						<span class="quiz__quastion-num">5/5</span><span class="quiz__quastion-text">Укажите срок
							эксплуатации лифта</span>
					</h6>
					<div class="quiz__body quiz__body-col">
						<label class="quiz__option">
							<div class="quiz__answer">
								<label class="quiz__text">
									<input type="radio" name="answer5" value="до 10 лет" class="quiz__field" />
									<span class='quiz__check'>до 10 лет</span></label>
							</div>
						</label>
						<label class="quiz__option">
							<div class="quiz__answer">
								<label class="quiz__text"><input type="radio" value="от 10 до 20 лет" name="answer5"
										class="quiz__field" /><span class='quiz__check'> от
										10 до 20 лет</span></label>
							</div>
						</label>
						<label class="quiz__option">
							<div class="quiz__answer">
								<label class="quiz__text"><input type="radio" value="свеше 20 лет" name="answer5"
										class="quiz__field" /><span class='quiz__check'></span>свеше
									20 лет</span></label>
							</div>
						</label>
					</div>
				</div>
				<span class="quiz__info">Ваша скидка пока</span>
				<div class="quiz__row">
					<div class="quiz__item">
						<div class="quiz__value">
							<span class="quiz__discaunt">1000</span> ₽
						</div>
						<div class="quiz__desc">
							За каждый ответ вы получаете <span class="orange">+1000₽</span>
						</div>
					</div>
					<div class="quiz__item">
						<button class="quiz__btn-prev">
							<img src="img/quiz/arrow-left.svg" alt="arrow" />
						</button>
						<button class="quiz__btn-next">
							<span class="quiz__btn-text">Далее</span><img src="img/quiz/arrow-right.svg" alt="arrow" />
						</button>
					</div>
				</div>
			</div>
			<div class="quiz__result">
				<div class="quiz__result-inner">
					<h4 class="quiz__result-title orange">ваша скидка 5000 ₽</h4>
					<p class="quiz__result-subtitle">
						Заполните форму ниже для получения расчета Вашей зоны обслуживания и
						ремонта
					</p>
					<form action="thank.html" class="quiz__form">
						<input type="tel" placeholder="Введите Ваш телефон" name='telephone' class="quiz__telephone tel" />
						<button class="quiz__submit">Получить расчет</button>
						<div class="quiz__note">
							К вашему номеру будет привязана персональная скидка
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>