<section class="request">
	<img src="img/request/hand.png" alt="hand" class="request__hand" />
	<div class="container-small request__content">
		<form class="request__form" action='thank.html'>
			<h6 class="request__title">Чтобы сделать заказ, укажите ваш телефон</h6>
			<p class="request__subtitle">
				Мы перезвоним в течение 15 минут, чтобы уточнить ваши пожелания
			</p>
			<div class="request__row">
				<div class="request__wrap request__item">
					<input type="tel" class="request__field tel" name='telephone' placeholder="Номер телефона" />
				</div>
				<button type="submit" class="request__btn request__item">
					Сделать заказ
				</button>
			</div>
			<label>
				<input type="checkbox" class="request__check" checked />
				<span class="request__agree">Нажамая на кнопку, вы соглашаетесь с условиями обработки персональных
					данных</span>
			</label>
		</form>
	</div>
</section>