<section class="screen">
	<div class="container-small screen__main">
		<div class="screen__row">
			<div class="screen__content">
				<h1 class="screen__title">
					<span class="screen__orange">Обслужим лифты</span><br />
					с МАКСИМАЛЬНЫМ РЕЗУЛЬТАТОМ
				</h1>
				<span class="screen__subtitle"> по докризисной цене </span>
				<div class="screen__items">
					<div class="screen__item">
						<span class="screen__name">Лучшее предприятие отрасли </span>
						<span class="screen__subname orange">2021</span>
					</div>
					<div class="screen__item">
						<span class="screen__name">стаж работы специалистов</span>
						<span class="screen__subname orange">30 лет</span>
					</div>
					<div class="screen__item">
						<span class="screen__name">На рынке более </span>
						<span class="screen__subname orange">10 лет</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-middle screen__request">
		<div class="container-small">
			<img src="img/screen/prime.png" alt="prime" class="screen__prime" />
			<div class="container__inner screen__form-inner">
				<h2 class="screen__form-title">
					Оставьте заявку и наш менеджер свяжется с Вами в течение 15 минут
				</h2>
				<form action="thank.html" class="screen__form">
					<div class="screen__form-item">
						<label for="name" class="screen__form-label">Имя</label>
						<div class="screen__form-wrap">
							<img src="img/screen/arrow-up.svg" alt="arrow-up" class="screen__form-icon" />
							<input id="name" type="text" name="name" class="screen__form-input" />
						</div>
					</div>
					<div class="screen__form-item">
						<label for="telephone" class="screen__form-label">Телефон</label>
						<div class="screen__form-wrap">
							<img src="img/screen/arrow-up.svg" alt="arrow-up" class="screen__form-icon" />
							<input id="telephone" type="tel" name='telephone' class="screen__form-input tel" />
						</div>
					</div>
					<button type="submit" class="screen__form-item screen__form-btn">
						Оставить заявку
					</button>
				</form>
			</div>
		</div>
	</div>
</section>
<!-- <input
								id="telephone"
								type="tel"
								data-modal="1"
								class="js-open-modal screen__form-input tel"
							/> -->