<section class="services">
	<div class="container-middle">
		<h2 class="title"><span class="title__inner">Наши услуги</span></h2>
		<div class="services__grid">
			<div class="services__item">
				<img src="img/services/photo_1.png" alt="photo" class="services__photo" />
				<div class="services__inner">
					<span class="services__name">Ремонт лифтов</span>
					<button class="services__btn js-open-modal" data-modal="1">
						Заказать
					</button>
				</div>
			</div>
			<div class="services__item">
				<img src="img/services/photo_2.png" alt="photo" class="services__photo" />
				<div class="services__inner">
					<span class="services__name"> Обслуживание лифтов </span>
					<button class="services__btn js-open-modal" data-modal="1">
						Заказать
					</button>
				</div>
			</div>
			<div class="services__item">
				<img src="img/services/photo_3.png" alt="photo" class="services__photo" />
				<div class="services__inner">
					<span class="services__name">Аварийное обслуживание лифтов</span>
					<button class="services__btn js-open-modal" data-modal="1">
						Заказать
					</button>
				</div>
			</div>
			<div class="services__item">
				<img src="img/services/photo_4.png" alt="photo" class="services__photo" />
				<div class="services__inner">
					<span class="services__name">Диспетчеризация лифтов </span>
					<button class="services__btn js-open-modal" data-modal="1">
						Заказать
					</button>
				</div>
			</div>
		</div>
	</div>
	@@include('./quiz.html')
</section>