<section class="solutions">
	<div class="container-small solutions__container">
		<h5 class="title solutions__title">
			<span class="title__inner solutions__title-inner">Мы можем устранить:</span>
		</h5>
		<div class="solutions__col">
			<div class="solutions__item">
				<div class="solutions__inner">
					<div class="solutions__block solutions__block-small">
						<img src="img/solutions/photo_1.png" alt="photo" class="solutions__photo" />
					</div>
					<div class="solutions__block">
						<img src="img/solutions/photo_2.png" alt="photo" class="solutions__photo" />
					</div>
					<h6 class="solutions__name">Замена главного электродвигателя</h6>
				</div>
			</div>
			<div class="solutions__item">
				<div class="solutions__inner">
					<h6 class="solutions__name">Замена каната ограничителя скорости</h6>
					<div class="solutions__block solutions__block-middle">
						<img src="img/solutions/photo_3.png" alt="photo" class="solutions__photo" />
					</div>
					<div class="solutions__block solutions__block-middle">
						<img src="img/solutions/photo_4.png" alt="photo" class="solutions__photo" />
					</div>
				</div>
			</div>
			<div class="solutions__item">
				<div class="solutions__inner">
					<div class="solutions__block">
						<img src="img/solutions/photo_5.png" alt="photo" class="solutions__photo" />
					</div>
					<div class="solutions__block">
						<img src="img/solutions/photo_6.png" alt="photo" class="solutions__photo" />
					</div>
					<h6 class="solutions__name">Замена ограничителя скорости</h6>
				</div>
			</div>
			<div class="solutions__item">
				<div class="solutions__inner">
					<h6 class="solutions__name">Замена редуктора главного привода</h6>
					<div class="solutions__block solutions__block-small">
						<img src="img/solutions/photo_7.png" alt="photo" class="solutions__photo" />
					</div>
					<div class="solutions__block">
						<img src="img/solutions/photo_8.png" alt="photo" class="solutions__photo" />
					</div>
				</div>
			</div>
			<div class="solutions__item">
				<h6 class="solutions__name">
					Капитальный ремонт редуктора главного привода
				</h6>
				<div class="solutions__inner">
					<div class="solutions__block solutions__block-small">
						<img src="img/solutions/photo_9.png" alt="photo" class="solutions__photo" />
					</div>
					<div class="solutions__block solutions__block-small">
						<img src="img/solutions/photo_10.png" alt="photo" class="solutions__photo" />
					</div>
					<div class="solutions__block solutions__block-big">
						<img src="img/solutions/photo_11.png" alt="photo" class="solutions__photo" />
					</div>
				</div>
			</div>
		</div>
	</div>
</section>