<section class="team">
	<img src="img/team/folder.png" alt="folder" class="team__folder" />
	<img src="img/team/top.png" alt="folder" class="team__top" />
	<img src="img/team/bottom.png" alt="folder" class="team__bottom" />
	<img src="img/team/blank.png" alt="blank" class="team__blank" />
	<div class="container-small team__content">
		<h2 class="title">
			<span class="title__inner">Наша эффективная команда</span>
		</h2>
		<div class="team__row">
			<div class="team__item">
				<img src="img/team/work1.png" data-fancybox alt="photo" class="team__photo" />
				<div class="team__inner">
					<span class="team__prof">Главный инженер</span>
					<span class="team__name">Шумкин Иван Александрович</span>
					<p class="team__desc">Уровень квалификации 6 Стаж работы 7 лет</p>
				</div>
			</div>
			<div class="team__item">
				<img src="img/team/work2.png" data-fancybox alt="photo" class="team__photo minimized"
					dsfdssssssssssssssssssssssssssssssssssssssssss />
				<div class="team__inner">
					<span class="team__prof">Инженер</span>
					<span class="team__name">Попов Сергей Павлович</span>
					<p class="team__desc">Уровень квалификации 5 Стаж работы 15 лет</p>
				</div>
			</div>
			<div class="team__item">
				<img src="img/team/work3.png" data-fancybox alt="photo" class="team__photo" />
				<div class="team__inner">
					<span class="team__prof">Прораб</span>
					<span class="team__name">Хаид Владимир Львович</span>
					<p class="team__desc">Уровень квалификации 5 Стаж работы 8 лет</p>
				</div>
			</div>
			<div class="team__item">
				<img src="img/team/work4.png" data-fancybox alt="photo" class="team__photo" />
				<div class="team__inner">
					<span class="team__prof">Электромеханик</span>
					<span class="team__name">Федоров Сергей Радионович </span>
					<p class="team__desc">Уровень квалификации 3 Стаж работы 36 лет</p>
				</div>
			</div>
			<div class="team__item">
				<img src="img/team/work5.png" data-fancybox alt="photo" class="team__photo" />
				<div class="team__inner">
					<span class="team__prof">Электромеханик</span>
					<span class="team__name">Узких Виктор Юрьевич</span>
					<p class="team__desc">Уровень квалификации 4 Стаж работы 8 лет</p>
				</div>
			</div>
			<div class="team__item">
				<img src="img/team/work6.png" data-fancybox alt="photo" class="team__photo" />
				<div class="team__inner">
					<span class="team__prof">Электромеханик</span>
					<span class="team__name">Рыжов Александр Иванович</span>
					<p class="team__desc">Уровень квалификации 4 Стаж работы 26 лет</p>
				</div>
			</div>
			<div class="team__item">
				<img src="img/team/work7.png" data-fancybox alt="photo" class="team__photo" />
				<div class="team__inner">
					<span class="team__prof">Электромеханик</span>
					<span class="team__name">Новичков Дмитрий Евгеньевич</span>
					<p class="team__desc">Уровень квалификации 3 Стаж работы 14 лет</p>
				</div>
			</div>
			<div class="team__item">
				<img src="img/team/work8.png" data-fancybox alt="photo" class="team__photo" />
				<div class="team__inner">
					<span class="team__prof">Электромеханик</span>
					<span class="team__name">Михайлов Роман Викторович</span>
					<p class="team__desc">Уровень квалификации 3 Стаж работы 12 лет</p>
				</div>
			</div>
			<div class="team__item">
				<img src="img/team/work9.png" data-fancybox alt="photo" class="team__photo" />
				<div class="team__inner">
					<span class="team__prof">Электромеханик</span>
					<span class="team__name">Гаров Олег Владимирович</span>
					<p class="team__desc">Уровень квалификации 3 Стаж работы 6 лет</p>
				</div>
			</div>
			<div class="team__item">
				<img src="img/team/work10.png" data-fancybox alt="photo" class="team__photo" />
				<div class="team__inner">
					<span class="team__prof">Электромеханик</span>
					<span class="team__name">Павлов Сергей Витальевич</span>
					<p class="team__desc">Уровень квалификации 4 Стаж работы 19 лет</p>
				</div>
			</div>
			<div class="team__item">
				<img src="img/team/work11.png" data-fancybox alt="photo" class="team__photo" />
				<div class="team__inner">
					<span class="team__prof">Электромеханик</span>
					<span class="team__name">Павлов Вячеслав Витальевич</span>
					<p class="team__desc">Уровень квалификации 4 Стаж работы 13 лет</p>
				</div>
			</div>
			<div class="team__item">
				<img src="img/team/work12.png" data-fancybox alt="photo" class="team__photo" />
				<div class="team__inner">
					<span class="team__prof">Электромеханик</span>
					<span class="team__name">Павлов Александр Витальевич</span>
					<p class="team__desc">Уровень квалификации 4 Стаж работы 18 лет</p>
				</div>
			</div>
			<div class="team__item">
				<img src="img/team/work13.png" data-fancybox alt="photo" class="team__photo" />
				<div class="team__inner">
					<span class="team__prof">Электромеханик</span>
					<span class="team__name">Барских Егор Денисов</span>
					<p class="team__desc">Уровень квалификации 3 Стаж работы 2 года</p>
				</div>
			</div>
			<div class="team__item">
				<img src="img/team/work14.png" data-fancybox alt="photo" class="team__photo" />
				<div class="team__inner">
					<span class="team__prof">Электромеханик</span>
					<span class="team__name">Кошелев Петр Сергеевич</span>
					<p class="team__desc">Уровень квалификации 3 Стаж работы 6 лет</p>
				</div>
			</div>
		</div>
	</div>
</section>