<section class="zones">
	<img src="img/zones/top.png" alt="top" class="zones__top" />
	<img src="img/zones/elevator.png" alt="elevator" class="zones__elevator" />
	<div class="container-small zones__content">
		<h6 class="zones__title orange">Зоны обслуживания лифтов</h6>
		<div class="zones__items">
			<div class="zones__col">
				<div class="zones__item">
					<h6 class="zones__name">Участок Центральный</h6>
					<img src="img/zones/zone-1.png" data-fancybox alt="zone" class="zones__photo" />
				</div>
				<div class="zones__item">
					<h6 class="zones__name">Участок Кропоткина</h6>
					<img src="img/zones/zone-2.png" data-fancybox alt="zone" class="zones__photo" />
				</div>
				<div class="zones__item">
					<h6 class="zones__name">Участок Учительская</h6>
					<img src="img/zones/zone-3.png" data-fancybox alt="zone" class="zones__photo" />
				</div>
				<div class="zones__item">
					<h6 class="zones__name">Участок ГБШ-Толбухина</h6>
					<img src="img/zones/zone-4.png" data-fancybox alt="zone" class="zones__photo" />
				</div>
				<div class="zones__item">
					<h6 class="zones__name">Участок Западный жилмассив</h6>
					<img src="img/zones/zone-5.png" data-fancybox alt="zone" class="zones__photo" />
				</div>
				<div class="zones__item">
					<h6 class="zones__name">Участок Троллейный жилмассив</h6>
					<img src="img/zones/zone-6.png" data-fancybox alt="zone" class="zones__photo" />
				</div>
			</div>
			<div class="zones__col">
				<div class="zones__item">
					<h6 class="zones__name">Участок Юго-Западный жилмассив</h6>
					<img src="img/zones/zone-7.png" data-fancybox alt="zone" class="zones__photo" />
				</div>
				<div class="zones__item">
					<h6 class="zones__name">Участок Беловежская</h6>
					<img src="img/zones/zone-8.png" data-fancybox alt="zone" class="zones__photo" />
				</div>
				<div class="zones__item">
					<h6 class="zones__name">Участок Оловозаводская</h6>
					<img src="img/zones/zone-9.png" data-fancybox alt="zone" class="zones__photo" />
				</div>
			</div>
		</div>
	</div>
</section>